@keyframes slide-in-left {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}
@keyframes slide-out-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
@keyframes slide-in-right {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes slide-out-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.animate-in-left {
  animation: slide-in-left 0.5s ease forwards;
}
.animate-out-left {
  animation: slide-out-left 0.5s ease forwards;
}
.animate-in-right {
  animation: slide-in-right 0.5s ease forwards;
}
.animate-out-right {
  animation: slide-out-right 0.5s ease forwards;
}
